fastapi
uvicorn
python-multipart
requests
pydantic
pydantic-settings
python-dotenv
aiohttp
aiofiles
elevenlabs
torch
torchvision
torchaudio
opencv-python
numpy
facexlib
basicsr
gfpgan
realesrgan
tqdm
scipy
mediapipe
