fastapi
uvicorn
python-multipart
requests
pydantic
pydantic-settings
python-dotenv
aiohttp
aiofiles
elevenlabs
torch
torchvision
torchaudio
opencv-python==4.10.0.84
numpy==1.26.4
facexlib
basicsr
gfpgan
realesrgan
tqdm
scipy
mediapipe
